#hero-image{
    width: 100%;
}

#hero-logo{
    width: 520px;
    z-index: 0;
}

#middle-container{
    position: absolute;
    top: 35%;
    left: 35%;
    gap: 30px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hero{
    position: relative;
}

#gradient{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 80%;
    background-image: linear-gradient(to top, #22171D, transparent);
}

#hero-buttons{
    display: flex;
    flex-direction: row;
}