#header-container{
    display: flex;
    flex-direction: row;
    background-color: #22171D;
    width: 100vw;
    position: fixed;
    top:0;
    right: 0;
}

#left-side{
    display: flex;
    flex-direction: row;
}

#right-side{
    display: flex;
    flex-direction: row;
}

.header-text{
    color: white;
}