#navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #101010;
    height: 72px;
    width: 100%;
    position: sticky;
    top:0;
    right: 0;
    z-index: 1;
}

.shopping-cart{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(106%) contrast(101%);
}

.navbar-text{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

#left-side{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-left: 1rem;
}

#right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-text{
    color: white;
}

#ck-logo{
    max-height: 90%;
}

#paradox-logo{
    max-height: 70%;
}