#navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #22171D;
    height: 72px;
    width: 100%;
    position: sticky;
    top:0;
    right: 0;
    z-index: 1;
}

.navbar-text{
    font-size: 12px;
}

#left-side{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-left: 1rem;
}

#right-side{
    display: flex;
    flex-direction: row;
}

.navbar-text{
    color: white;
}

#ck-logo{
    max-height: 90%;
}

#paradox-logo{
    max-height: 70%;
}